*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

.tools{
    height: 100px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
}

.content{
    height: calc(100vh-100px);
}

#canvas{
    /* height: 100%;
    width: 100%;
    background-color: beige; */
}

.toolbox{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.tool{
    height: 45px;
}

.tool img{
    height: 100%;
}